
:root{
  --dark-blue: hsl(225, 20%, 16%);
  --light-red: #DC7381;
  --dark-red: #CD384B;
  --light-brown: #edc6a7;
  --dark-brown: #98614d;
  box-sizing: border-box;
  font-size: calc(0.5em + 1vw);
}

body { 
  font-family: "Poppins", sans-serif; 
  letter-spacing: 0.2px;
}

a {
  color: inherit;
  text-decoration: none;
}
